@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --letrasSidebar: rgb(231, 231, 231); 
  --letrasPortada: #dfdfdf;
  --botonPortada: #407c7c;
  --hoverBotonPortada: #327070;
  --bordeImagenesProyecto: #aaaaaa;
  --botonLetras: #fff;
  --botonGithub: ;
  --BarraNavegacion: #192139;
  --hoverBarraNavegacion: #242d4d;
  --SombrasBarraNavegacion: transparent;
  --recuadroContenedores: #dfdfdf;
  --divider: #adadad;
  --recuadroSobreMi: #00000059;
  --fondo: radial-gradient(79.43% 251.58% at 23.18% 73.07%, 
  #01398f 0%,  /* Azul eléctrico */
  #0E1B47 44.41%, 
  #0C1333 56.46%, 
  #070823 69.58%, 
  #05051A 100%, 
  #020013 0%);
}

h1{
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

p{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  min-height: 100vh;

  background: linear-gradient(to right, rgba(1, 5, 48, 0.788), rgb(0, 0, 14)), url(/src/assets/fondoSobreMi.webp);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.main-content {
  margin-top: 60px;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 10px;
  }

  .navbar a {
    padding: 10px;
    display: block;
  }

  .main-content {
    margin-top: 80px; /* Ajusta esto según la altura de tu navbar en móviles */
  }

  body {
    background-attachment: scroll; /* Evita problemas con el desplazamiento del fondo en móviles */
  }
}