.contenedorBoxProyecto{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.containerProyectos{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    background-color: var(--recuadroContenedores);
    padding: 1rem;
    border-radius: 10px;
}

.containerProyectos img{
    width: clamp(1rem, 25rem, 95%);
    border-radius: 10px;
    border: 2px solid var(--bordeImagenesProyecto);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.3);
}

.informacionProyecto h1{
    margin-top: 0;
}

.ImagenDerechaCelulares{
    display: none;
}

.BotonGithubProyectos{
    display: flex;
    gap: 0.5rem;
    color: black !important;
    background-color: #cfcfcf !important;
    border: 2px solid rgb(168, 168, 168) !important;
}

.BotonGithubProyectos:hover{
    background-color: #c5c5c5 !important;
}

@media (max-width: 1135px) {
    
    .containerProyectos{
        width: 90%;
        flex-direction: column;
        padding: 1.2rem 1rem 1.5rem;
    }

    .ImagenDerechaCelulares{
        display: flex;
    }

    .ImagenIzquierda{
        display: none;
    }
}
