.contenedorBoxProyecto{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.containerProyectos{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--recuadroContenedores);
    padding: 1rem;
    border-radius: 10px;
}

.containerProyectos img{
    width: clamp(1rem, 25rem, 95%);
    border-radius: 10px;
    border: 2px solid var(--bordeImagenesProyecto);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.3);
    margin: 0 2rem;
}

.informacionProyecto{
    padding: 0 2rem;
}

.informacionProyecto h1{
    margin-top: 0;
    font-size: 2.5rem;
}

.informacionProyecto p{
    margin-top: 0;
    font-size: 1.2rem;
}


.ImagenDerechaCelulares{
    display: none;
}

.botonesProyectos{
    display: flex;
    gap: 1rem;
    justify-content: center;
}


.BotonProyecto{
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 1rem!important;
    color: var(--letrasPortada) !important;
    background-color:  var(--botonPortada) !important;
    border: 2px solid rgb(168, 168, 168) !important;
    border-radius: 10px;
    transition: var(--transition);
    cursor: pointer;
}

.BotonProyecto:hover{
    background-color: var(--hoverBotonPortada) !important;
    transform: scale(1.05);
}

@media (max-width: 1135px) {
    
    .containerProyectos{
        width: 90%;
        flex-direction: column;
        padding: 1.2rem 1rem 1.5rem;
        gap: 2rem;
    }

    .ImagenDerechaCelulares{
        display: flex;
    }

    .ImagenIzquierda{
        display: none;
    }
}
